server {
   listen 80;
   server_name rest.haoxiaoguai.xyz;
   return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    http2 on;
    server_name rest.haoxiaoguai.xyz;
    root /var/www/lunchbox/public;
    index index.php;
    charset utf-8;

    include /etc/nginx/snippets/ssl.conf;
    include /etc/nginx/snippets/security-headers.conf;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    location ~ ^/index\.php(/|$) {
        fastcgi_pass php-upstream;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
        include /etc/nginx/snippets/fastcgi-security.conf;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }
}