/homepage/logs
/data/
/backup/
/.env
/logs/
.env
.env.local
.env.product
/authelia/db.sqlite3

./3xui/db
/3xui/db/x-ui.db
.zed
.codebuddy
.qoder
.idea
.vscode

cloudflare.ini
aliyun.ini
registry.ini
./scripts/registry.ini

./certbot/conf/aliyun.ini
./certbot/conf/cloudflare.ini

certbot/conf/renewal/
ssh/
authelia/config/db.sqlite3

/pgbouncer/userlist.txt

.kiro
