networks:
  frontend:
    name: frontend
  backend:
    name: backend

services:

  caddy:
    build:
      context: ./caddy
    container_name: caddy
    environment:
      - SITE_ADDRESS=${SITE_ADDRESS}
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "8080:8080"
      - "45432:45432"
      - "46379:46379"
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${CONFIG_PATH}caddy:/etc/caddy
      - ${DATA_PATH}caddy:/data
    restart: always
    depends_on:
      authelia:
        condition: service_healthy
      dozzle:
        condition: service_healthy
    networks:
      - frontend
      - backend

  authelia:
    build:
      context: ./authelia
    container_name: authelia
    restart: unless-stopped
    ports:
      - "9091:9091"
    volumes:
      - ${CONFIG_PATH}authelia/config:/config
    environment:
      - X_AUTHELIA_CONFIG_FILTERS=template
      - TZ=${TIMEZONE}
      - DOMAIN=${SITE_ADDRESS}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - RESEND_API_KEY=${RESEND_API_KEY}
    networks:
      - frontend
      - backend

  php-fpm:
    build:
      context: ./php-fpm
      dockerfile: Dockerfile
      args:
        - CHANGE_SOURCE=${CHANGE_SOURCE}
        - WWWUSER=${WWWUSER:-33}
        - WWWGROUP=${WWWGROUP:-33}
    container_name: php-fpm
    restart: always
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=fpm
      - APP_DEBUG=true
      - ENABLE_SUPERVISOR=false
      - ENABLE_SCHEDULE=true
      - ENABLE_HORIZON=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - backend
      - frontend
    depends_on:
      php-schedule:
        condition: service_healthy
      php-horizon:
        condition: service_healthy
      php-reverb:
        condition: service_healthy
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
      meilisearch:
        condition: service_healthy
      minio:
        condition: service_healthy

#  php-franken:
#    build:
#      context: php-franken
#    container_name: php-franken
#    restart: always
#    ports:
#      - "8801:8001"
#      - "12019:2019"
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=octane
#      - APP_DEBUG=true
#      - ENABLE_SUPERVISOR=false
#      - ENABLE_SCHEDULE=true
#      - ENABLE_HORIZON=true
#      - ENABLE_REVERB=false
#      - WATCH=true
#      - OCTANE_POLL=true
#      - OCTANE_WORKERS=4
#      - OCTANE_MAX_REQUESTS=300
#      - CADDY_GLOBAL_OPTIONS={"log":{"format":"console"}}
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
#    networks:
#      - backend
#      - frontend
#    depends_on:
#      php-schedule:
#        condition: service_healthy
#      php-horizon:
#        condition: service_healthy
#      php-reverb:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#      postgres:
#        condition: service_healthy
#      meilisearch:
#        condition: service_healthy
#      minio:
#        condition: service_healthy

  php-roadrunner:
    build:
      context: php-roadrunner
    container_name: php-roadrunner
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=octane
      - APP_DEBUG=true
      - ENABLE_SUPERVISOR=false
      - WATCH=true
    ports:
      - "8201:8001"
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
    networks:
      - backend
      - frontend

  php-horizon:
    build:
      context: php-horizon
    container_name: php-horizon
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
      - ENABLE_SUPERVISOR=false
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    networks:
      - backend
    depends_on:
      redis:
        condition: service_healthy

  php-schedule:
    build:
      context: php-schedule
    container_name: php-schedule
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
      - ENABLE_SUPERVISOR=false
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    networks:
      - backend
    depends_on:
      php-horizon:
        condition: service_healthy

  php-reverb:
    build:
      context: php-reverb
    container_name: php-reverb
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
      - ENABLE_SUPERVISOR=false
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    networks:
      - backend
    depends_on:
      php-horizon:
        condition: service_healthy

  #  php-worker:
  #    build:
  #      context: php-worker
  #    container_name: php-worker
  #    restart: always
  #    environment:
  #      - APP_PATH=${APP_PATH}
  #      - APP_ENV=${APP_ENV}
  #    volumes:
  #      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
  #    networks:
  #      - backend

  postgres:
    build:
      context: ./postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    container_name: postgres
    restart: always
    volumes:
      - ${DATA_PATH}postgres:/var/lib/postgresql/data
      - ${CONFIG_PATH}postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
      - frontend

  redis:
    container_name: redis
    build:
      context: ./redis
      args:
        - REDIS_VERSION=${REDIS_VERSION}
    volumes:
      - ${DATA_PATH}redis:/data
    restart: always
    command: --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    networks:
      - backend
      - frontend

  meilisearch:
    build:
      context: ./meilisearch
      args:
        - TIMEZONE=${TIMEZONE:-Asia/Shanghai}
    container_name: meilisearch
    restart: always
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - TZ=${TIMEZONE:-Asia/Shanghai}
    ports:
      - "${SEARCH_PORT:-7700}:7700"
    volumes:
      - "${DATA_PATH}/meili_data:/meili_data"
    networks:
      - frontend
      - backend

  rabbitmq:
    build:
      context: ./rabbitmq
      dockerfile: Dockerfile
    container_name: rabbitmq
    restart: always
    ports:
      - "${RABBITMQ_PORT:-5672}:5672"
      - "${RABBITMQ_DASHBOARD_PORT:-15672}:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST:-app-host}
    volumes:
      - ${DATA_PATH}rabbitmq:/var/lib/rabbitmq
      # - ${CONFIG_PATH}rabbitmq/config:/etc/rabbitmq
      - ${LOG_PATH}rabbitmq:/var/log/rabbitmq
    networks:
      - backend

  minio:
    build:
      context: ./minio
    container_name: minio
    restart: always
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - "${DATA_PATH}/minio:/data"
    ports:
      - "${MINIO_PORT_UI}:9001"
      - "${MINIO_PORT}:9000"
    networks:
      - backend

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8180:8080"
    environment:
      - TZ=Asia/Shanghai
      - DOZZLE_LEVEL=info
      - DOZZLE_FILTER=status=running
      - DOZZLE_NO_ANALYTICS=true
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 3
    networks:
      - frontend
      - backend
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  gotify:
    image: gotify/server:2.7
    container_name: gotify
    ports:
      - "8380:80"
    environment:
      - GOTIFY_DEFAULTUSER_NAME=${GOTIFY_DEFAULTUSER_NAME}
      - GOTIFY_DEFAULTUSER_PASS=${GOTIFY_DEFAULTUSER_PASS}
      - TZ=Asia/Shanghai
    volumes:
      - "${DATA_PATH}gotify:/app/data"
    networks:
      - backend

  docker-proxy:
    image: tecnativa/docker-socket-proxy:v0.4.1
    container_name: docker-proxy
    environment:
      - CONTAINERS=1 # Allow access to viewing containers
      - SERVICES=1 # Allow access to viewing services (necessary when using Docker Swarm)
      - TASKS=1 # Allow access to viewing tasks (necessary when using Docker Swarm)
      - POST=0 # Disallow any POST operations (effectively read-only)
#    ports:
#      - "62375:2375"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
    networks:
      - backend
      - frontend

  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "home.${SITE_ADDRESS}"
      HOMEPAGE_VAR_SITE_ADDRESS: ${SITE_ADDRESS}
      HOMEPAGE_VAR_DOMAIN: ${SITE_ADDRESS}
    ports:
      - "33000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${CONFIG_PATH}homepage:/app/config
    restart: always
    networks:
      - frontend
      - backend

volumes:
  app_code:
    name: app_code
    driver: local
    driver_opts:
      # 必须指定 type: bind 绑定挂载
      type: bind
      # 在这里指定主机上的绝对路径
      source: ${APP_CODE_PATH}
      # 确保 mode 为读写 (rw)
      o: bind,rw