import sites/*
import templates/* {
	import snippets/global-log.conf
	import proxy-layer4 45432 postgres:5432
	import proxy-layer4 46379 redis:6379
}

#import fpm-app fpm.{$SITE_ADDRESS} /var/www/lunchbox
import fpm-app-auth rest.{$SITE_ADDRESS} /var/www/lunchbox
import proxy-octane-app-auth dev.{$SITE_ADDRESS} php-franken:8001
import proxy-octane-app-auth api.{$SITE_ADDRESS} php-roadrunner:8001

#import proxy-app auth.{$SITE_ADDRESS} authelia:9091
import proxy-app ws.{$SITE_ADDRESS} php-reverb:8080
import proxy-app mo.{$SITE_ADDRESS} minio:9001
import proxy-app mos.{$SITE_ADDRESS} minio:9000
import proxy-app mq.{$SITE_ADDRESS} rabbitmq:15672
import proxy-app push.{$SITE_ADDRESS} gotify:80

import proxy-app-auth home.{$SITE_ADDRESS} homepage:3000
import proxy-app-auth search.{$SITE_ADDRESS} meilisearch:7700
import proxy-app-auth dozzle.{$SITE_ADDRESS} dozzle:8080

# import proxy-app ssh.{$SITE_ADDRESS}  ssh:8182
# import proxy-app app.{$SITE_ADDRESS}  chatNext:3000


:8888 {
	respond /health 200 {
		body "OK"
	}
	respond /ready 200 {
		body "Ready"
	}
}
