{
	# 全局配置
	email admin@example.com
	# 启用通配符证书支持
	#    acme_ca https://acme-v02.api.letsencrypt.org/directory
	# 使用DNS挑战获取通配符证书
	# acme_dns <provider> <credentials>

	# 日志配置
	log {
        output stdout
        level INFO
		format console {
			time_format "2006-01-02 15:04:05.000"
#			level_format "upper"
            level_format "color"
            duration_format "string"

            time_key "ts"
            level_key "level"
            name_key "logger"
            message_key "msg"
        }
	}
}

import templates/*
#import fpm-app fpm.{$SITE_ADDRESS} /var/www/lunchbox
import fpm-app-auth fpm.{$SITE_ADDRESS} /var/www/lunchbox
#import proxy-app octane.{$SITE_ADDRESS}  php-franken:8001
import proxy-octane-app-auth octane.{$SITE_ADDRESS} php-franken:8001

import proxy-app ws.{$SITE_ADDRESS} php-reverb:8080
import proxy-app mo.{$SITE_ADDRESS} minio:9001
import proxy-app mos.{$SITE_ADDRESS} minio:9000
import proxy-app mq.{$SITE_ADDRESS} rabbitmq:15672
import proxy-app push.{$SITE_ADDRESS} gotify:80
import proxy-app auth.{$SITE_ADDRESS} authelia:9091

import proxy-app-auth home.{$SITE_ADDRESS} homepage:3000
import proxy-app-auth search.{$SITE_ADDRESS} meilisearch:7700
import proxy-app-auth dozzle.{$SITE_ADDRESS} dozzle:8080

# import proxy-app ssh.{$SITE_ADDRESS}  ssh:8182
# import proxy-app app.{$SITE_ADDRESS}  chatNext:3000

app.{$SITE_ADDRESS}:45432 {
	reverse_proxy postgres:5432 {
		transport http {
			dial_timeout 5s
			response_header_timeout 30s
			read_timeout 30s
			write_timeout 30s
		}
	}
}

#:6379 {
#    # 使用 reverse_proxy 来转发流量
#    reverse_proxy redis:6379 {
#        # 关键步骤：指定使用 TCP 传输层
#        transport tcp
#    }
#}
#
#app.{$SITE_ADDRESS}:46379  {
#    reverse_proxy redis:6379 {
#        transport tcp
#        allow @allowed
#        deny all
#    }
#}

#app.{$SITE_ADDRESS}:46379 {
#    reverse_proxy redis:6379 {
#        transport http {
#            dial_timeout 5s
#            response_header_timeout 30s
#            read_timeout 30s
#            write_timeout 30s
#        }
#    }
#}

#As a standalone domain
#gotify.example.com {
#    # Set the port to the one you are using in gotify
#    # Websocket support, proxy headers, etc. are enabled by default
#    reverse_proxy localhost:1245
#}
#At a subpath
#example.com {
#    route /gotify/* {
#        uri strip_prefix /gotify
#        # Set the port to the one you are using in gotify
#        reverse_proxy localhost:1245
#    }
#    redir /gotify /gotify/
#}
