{
	import snippets/global-log.conf
}

import templates/*
#import fpm-app fpm.{$SITE_ADDRESS} /var/www/lunchbox
import fpm-app-auth fpm.{$SITE_ADDRESS} /var/www/lunchbox
#import proxy-app octane.{$SITE_ADDRESS}  php-franken:8001
import proxy-octane-app-auth octane.{$SITE_ADDRESS} php-franken:8001

import proxy-app ws.{$SITE_ADDRESS} php-reverb:8080
import proxy-app mo.{$SITE_ADDRESS} minio:9001
import proxy-app mos.{$SITE_ADDRESS} minio:9000
import proxy-app mq.{$SITE_ADDRESS} rabbitmq:15672
import proxy-app push.{$SITE_ADDRESS} gotify:80
import proxy-app auth.{$SITE_ADDRESS} authelia:9091

import proxy-app-auth home.{$SITE_ADDRESS} homepage:3000
import proxy-app-auth search.{$SITE_ADDRESS} meilisearch:7700
import proxy-app-auth dozzle.{$SITE_ADDRESS} dozzle:8080

# import proxy-app ssh.{$SITE_ADDRESS}  ssh:8182
# import proxy-app app.{$SITE_ADDRESS}  chatNext:3000

app.{$SITE_ADDRESS}:45432 {
	reverse_proxy postgres:5432 {
		transport http {
			dial_timeout 5s
			response_header_timeout 30s
			read_timeout 30s
			write_timeout 30s
		}
	}
}

:46379 {
	reverse_proxy redis:6379
}

:45432 {
	reverse_proxy postgres:5432
}
