# Authelia 认证服务配置
# 文件: traefik/config/authelia.yml

# HTTP 服务配置
http:
  services:
    authelia:
      loadBalancer:
        servers:
          - url: "http://authelia:9091"
        passHostHeader: true

  routers:
    authelia:
      entryPoints:
        - "websecure"
      priority: 5
      service: "authelia"
      rule: 'Host(`auth.{{ env "DOMAIN" }}`)'
      tls: {}
