# MeiliSearch 搜索服务配置
# 文件: traefik/config/meilisearch.yml

# HTTP 服务配置
http:
  services:
    meilisearch:
      loadBalancer:
        servers:
          - url: "http://meilisearch:7700"
        passHostHeader: true

  routers:
    meilisearch:
      entryPoints:
        - "websecure"
      priority: 10
      service: "meilisearch"
      middlewares:
        - "gzip@file"
      rule: 'Host(`search.{{ env "DOMAIN" }}`)'
      tls: {}
