# PHP Franken 应用服务配置
# 文件: traefik/config/php-franken.yml

http:
  services:
    php-franken:
      loadBalancer:
        servers:
          - url: "http://php-franken:8001"
        passHostHeader: true

  routers:
    php-franken:
      entryPoints:
        - "websecure"
      priority: 15
      service: "php-franken"
      rule: 'Host(`app.{{ env "DOMAIN" }}`)'
      tls: {}